@font-face {
    font-family: "headcorpsregular";
    src: url('../fonts/headcorpsregular/headcorpsregular.otf');
}


/* @keyframes mymove {
    0% {
        top: 0px;
        left: 0px;
        background: purple;
        color: blue;
        padding: 10px;
    }
    5% {
        padding: 12px;
    }
    10% {
        padding: 14px;
    }
    15% {
        padding: 16px;
    }
    20% {
        padding: 18px;
    }
    25% {
        top: 0px;
        left: 100px;
        background: blue;
        color: yellow;
        padding: 20px;
    }
    50% {
        top: 100px;
        left: 100px;
        background: yellow;
        color: green;
        padding: 30px;
    }
    75% {
        top: 100px;
        left: 0px;
        background: green;
        color: red;
        padding: 20px;
    }
    100% {
        top: 0px;
        left: 0px;
        background: purple;
        color: blue;
        padding: 10px;
    }
} */

@keyframes mymove {
    0% {
        background: black;
        color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        max-width: 700px;
    }
    50% {
        background: white;
        color: black;
        padding-top: 25px;
        padding-bottom: 25px;
        max-width: 750px;
    }
    100% {
        background: black;
        color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        max-width: 700px;
    }
}

#first-paragraph {
    color: red;
    font-size: 30px;
    font-weight: bold;
}

#second-paragraph {
    color: pink;
    font-family: "headcorpsregular";
    font-size: 20px;
    font-weight: bolder;
    padding: 50px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
    animation: mymove 10s infinite;
    text-align: center;
}