@import url('https://db.onlinewebfonts.com/c/0e0f094e0c53c2f7f9bbf436f922875b?family=Foundry+Context+W03+Demi');
@font-face {
    font-family: "scripto";
    src: url('../fonts/scripto-font/Scripto-2OR2v.ttf');
}

@font-face {
    font-family: "gelica";
    src: url('../fonts/gelica/Fontspring-DEMO-gelica-bold.otf');
}

:root {
    --paragraph-font: "Foundry Context W03 Demi", Helvetica, sans-serif;
    --heading-font: "gelica", Arial, serif;
}

body {
    background-color: black;
    margin: 0;
}

header {
    background-color: #FFEDDF;
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    position: fixed;
    width: 100%;
    padding: 1.2em 0em;
}

#logo {
    text-align: center;
    /* background-color: none; */
    color: #b0a7dd;
    width: fit-content;
    font-size: 2.3em;
    margin-left: 1em;
    text-decoration: none;
    transition: transform .3s;
}

header nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.nav-a a {
    text-decoration: none;
    text-align: center;
    font-family: var(--paragraph-font);
    background-color: black;
    color: #FFEDDF;
    font-weight: bolder;
    font-size: 1.3em;
    border: 2px solid black;
    border-radius: .9em;
    padding: .3em .5em;
    width: fit-content;
    transition: transform .3s;
}

header a:hover {
    transform: scale(1.125);
    opacity: .75;
}

#logo:hover {
    transform: scale(1.125);
    opacity: 1;
}

main {
    background-color: black;
}

main p {
    color: #FFEDDF;
    font-family: var(--paragraph-font);
}

#new-release {
    background-color: #000000;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: end;
    padding: 7em 0em 6em;
}

#new-release-text h1 {
    font-family: var(--heading-font);
    font-size: 4em;
    margin: .5em 0em;
    color: #b0a7dd;
}

#new-release-text h3 {
    font-family: var(--heading-font);
    font-size: 2em;
    margin: .5em 0em;
    color: #d2f4bd;
}

#new-release-text p {
    margin: .5em 0em;
    font-size: 1.6em;
    color: #d2f4bd;
}

#new-release-picture {
    width: 80%;
    margin: 0 auto;
    border-radius: 3em;
    border: .4em solid #FFEDDF;
}

#new-release-text {
    background-color: black;
    color: #FFEDDF;
    height: fit-content;
    /* padding-left: 1em; */
}

#home-platforms {
    padding-left: 1em;
    color: #FFEDDF;
    font-family: var(--heading-font);
}

#home-platforms h2 {
    font-size: 2em;
    padding-left: 1.2em;
    color: #d2f4bd;
}

#home-platforms a {
    text-decoration: none;
}

.new-release-logo {
    width: 3.5em;
    padding: 0 .5em;
    transition: transform .3s;
}

.new-release-logo:hover {
    opacity: .9;
    transform: rotate(360deg) scale(1.2);
}

#bio-section {
    display: grid;
    grid-template-columns: 1fr 3fr 5fr 1fr;
    grid-template-rows: 3fr 2fr;
}

#bio-section img {
    width: 100%;
    grid-area: 1 / 2 / 3 / 4;
    border-radius: 2em;
    border: .4em solid #FFEDDF;
}

#bio-background {
    grid-area: 2 / 3 / 3 / 4;
    background-color: #b0a7dd;
    border-radius: 2em;
    height: fit-content;
    margin-right: 2em;
    border: .4em solid #d2f4bd;
}

#bio-background p {
    text-align: center;
    font-family: var(--paragraph-font);
    color: black;
    font-size: 1.1em;
    margin: .5em 1em;
}

#main-pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 6em;
}

#main-pictures h1 {
    color: #b0a7dd;
    grid-column: 1/3;
    font-family: var(--heading-font);
    font-size: 2.5em;
    width: fit-content;
    margin: 0 auto;
    padding: .5em 0em;
}

#main-pictures img {
    width: 80%;
    margin: 0 auto;
    border-radius: 2em;
    border: .4em solid #b0a7dd;
}

#main-pictures img:nth-of-type(1) {
    grid-column: 1/2;
}

.marketing-info h1 {
    font-family: var(--heading-font);
    color: #d2f4bd;
    font-size: 2.5em;
    width: fit-content;
    margin: 1em auto .5em;
}

.marketing-info p {
    background-color: #b0a7dd;
    border-radius: 2em;
    height: fit-content;
    border: .4em solid #d2f4bd;
    text-align: center;
    font-family: var(--paragraph-font);
    color: black;
    margin: .7em 2em 2em;
    padding: .5em .5em;
    font-size: 1.2em;
}

#connect-title {
    color: #FFEDDF;
    font-family: var(--heading-font);
    margin: -13em auto 11em;
    padding: .1em .3em;
    border-radius: .3em;
    width: fit-content;
    /* margin-top: 0px; */
    font-size: 2.5em;
    background-color: black;
}

.parallax {
    /* The image used */
    background-image: url("../images/rsz-purple-light.jpg");
    /* Set a specific height */
    min-height: 900px;
    width: 85%;
    margin: 0 auto;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#connect-body p {
    width: 86%;
    margin: 0 auto;
    background-color: #d2f4bd;
    color: black;
    text-align: center;
    border: .3em solid #b0a7dd;
    border-radius: 1.5em;
    padding: .3em .5em;
    font-size: 1.2em;
}

.parallax-2 {
    /* The image used */
    background-image: url("../images/rsz_1lucas-snow.jpg");
    /* Set a specific height */
    min-height: 800px;
    width: 85%;
    margin: 0 auto;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#connect-background {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    margin: -37em 0 17em;
}

.connect-img {
    width: 9.7em;
    border: .4em solid #b0a7dd;
    border-radius: 2em;
}

.connect-buttons {
    margin: 0 auto;
    transition: transform .3s;
}

.connect-buttons:hover {
    opacity: .9;
    transform: scale(1.1);
}

.connect-buttons a h4 {
    width: fit-content;
    font-family: var(--heading-font);
    color: #FFEDDF;
    font-size: 1.5em;
    margin: .3em auto 0;
    background-color: black;
    padding: .1em .4em;
    border: .3em solid #b0a7dd;
    border-radius: 1em;
}

#connect-img-2 a h4 {
    border: .3em solid #d2f4bd
}

#connect-img-2 a img {
    border: .4em solid #d2f4bd;
}

#connect-img-1 {
    grid-column: 2/3;
}

#connect-img-2 {
    grid-column: 3/4;
}

footer {
    background-color: black;
    color: #FFEDDF;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    margin-top: 2em;
    border-top: .4em solid #d2f4bd;
    border-left: .4em solid #d2f4bd;
    border-right: .4em solid #d2f4bd;
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
}

footer h4 {
    font-family: var(--heading-font);
    font-size: 1.5em;
    align-content: center;
}

footer a {
    text-decoration: none;
    color: #FFEDDF;
    font-family: var(--paragraph-font);
}

a.footer-link {
    font-size: 1.3em;
    transition: transform .3s;
}

a.footer-link:hover {
    opacity: .9;
    transform: scale(1.13);
}

.social a {
    margin-right: .5em;
}

.social img {
    width: 2.5em;
    transition: transform .3s;
}

.social img:hover {
    transform: rotate(360deg) scale(1.13);
    opacity: .9;
}

#logo {
    font-family: "scripto";
}

.connect-buttons a {
    text-decoration: none;
}

@media screen and (max-width: 975px) {
    #bio-background {
        grid-area: 3 / 2 / 4 / 4;
        margin: 0 auto;
    }
    #bio-section {
        display: grid;
        grid-template-columns: 1fr 3fr 5fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    #home-platforms h2 {
        padding-left: 0em;
    }
}

@media screen and (max-width: 725px) {
    #bio-background {
        grid-area: 2 / 2 / 3 / 4;
        margin: 0 auto;
    }
    #bio-section {
        display: grid;
        grid-template-columns: 1fr 3fr 5fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #new-release {
        padding-top: 9em;
    }
    #new-release-text h1 {
        font-size: 3em;
    }
    #new-release-text h3 {
        font-size: 1.5em;
    }
    #home-platforms h2 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 600px) {
    #bio-background {
        margin-top: -3em;
    }
}

@media screen and (max-width: 500px) {
    #bio-background {
        margin-top: -5em;
    }
}

@media screen and (max-width: 450px) {
    #bio-background {
        margin-top: -7em;
    }
    header {
        grid-template-rows: 1fr 1fr;
    }
    .nav-a {
        display: block;
        grid-column: 2/3;
        grid-row: 1/3;
    }
    .nav-a a {
        display: block;
        margin: 1em auto 0;
    }
    #logo {
        grid-column: 1/2;
        grid-row: 1/3;
    }
    #new-release {
        padding-top: 13em;
    }
}

@media screen and (max-width: 400px) {
    #bio-background {
        margin-top: -9em;
    }
}

@media screen and (max-width: 375px) {
    #bio-background {
        margin-top: -11em;
    }
}

@media screen and (max-width: 350px) {
    #bio-background {
        margin-top: -13em;
    }
    #new-release-picture {
        border-radius: 2em;
    }
}

@media screen and (max-width: 325px) {
    #bio-background {
        margin-top: -15em;
    }
}

@media screen and (max-width: 300px) {
    #new-release-picture {
        border-radius: 1em;
    }
    #bio-background {
        margin-top: -17em;
    }
}